[Unit]
Description=EMSN 2.0 - Database Mirror Sync Timer (Berging)
Requires=emsn-dbmirror-berging.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=emsn-dbmirror-berging.service

[Install]
WantedBy=timers.target
