[Unit]
Description=Run EMSN Data Gap Anomaly Check every 15 minutes
Requires=anomaly-datagap-check.service

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min
AccuracySec=1min

[Install]
WantedBy=timers.target
