[Unit]
Description=Run EMSN Hardware Anomaly Check every 15 minutes
Requires=anomaly-hardware-check.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
AccuracySec=1min

[Install]
WantedBy=timers.target
