[Unit]
Description=EMSN 2.0 - Database Mirror Sync Timer (Zolder)
Requires=emsn-dbmirror-zolder.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=emsn-dbmirror-zolder.service

[Install]
WantedBy=timers.target
